@charset "UTF-8";
/*
 * SASS bootstrap for website.com
 */
/*
 * SASS helper mixins, functions and classes.
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.print-only {
  display: none; }

.with-floats:after {
  content: ' ';
  display: table;
  clear: both; }

/*
 * SASS base variables for website.com
 */
/*
 * SASS simple CSS reset for website.com.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

h1, h2 {
  margin: 0;
  padding: 0; }

a {
  background-color: transparent; }

a[href] {
  cursor: pointer; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

a img {
  border: none; }

@media only print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000;
    box-shadow: none !important;
    text-shadow: none !important; }
  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " <" attr(href) ">";
    word-wrap: break-word;
    font-size: 0.8em; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: ""; } }

/*
 * SASS for website icon elements - website.com
 */
.icon {
  position: relative;
  top: 0;
  left: 0;
  width: 2.375rem;
  height: 2.375rem;
  overflow: hidden;
  background-color: transparent;
  background-image: url("/resources/image/website-icons.svg");
  background-repeat: no-repeat;
  background-position: 0 top;
  background-size: auto 100%; }
  .icon a {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    padding-top: 2.375rem;
    width: 2.375rem;
    height: 0;
    overflow: hidden;
    background-color: transparent;
    background-image: url("/resources/image/website-icons.svg");
    background-repeat: no-repeat;
    background-position: 0 top;
    background-size: auto 100%; }

/*
 * SASS for body elements - website.com
 */
html {
  margin: 0;
  height: 100%;
  background-color: #0d1321; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: scroll; }

.boundary {
  position: relative;
  top: 0;
  left: 0;
  margin: 0 auto;
  max-width: 2000px;
  background-color: white;
  z-index: 1; }

main {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2rem;
  min-height: 40vh;
  max-width: 1800px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1; }
  @media only screen and (min-width: 1800px) {
    main {
      -webkit-border-radius: 0.26em;
      border-radius: 0.26em;
      margin-bottom: 4rem; } }

.content {
  margin: 0 0 2rem; }
  .collection .content {
    transform: translateY(-70px); }
  .content header, .content footer, .content h1, .content h2, .content h3, .content p, .content ul, .content ol, .content blockquote, .content code {
    max-width: 55.62423rem; }

.side-bar figure {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-width: 320px; }
  @media only screen and (min-width: 39em) {
    .side-bar figure {
      width: 70%; } }

.side-bar img {
  display: block;
  margin: 0;
  -webkit-border-radius: 0.26em;
  border-radius: 0.26em;
  border: solid 6px rgba(13, 19, 33, 0.8);
  width: 100%; }

.side-bar figcaption {
  padding: 0.4em;
  font-size: 0.8rem; }

@media only screen and (min-width: 39em) {
  .content, .side-bar {
    display: inline-block;
    vertical-align: top;
    margin: 0 -2px; }
  .content {
    box-sizing: border-box;
    padding: 0 4rem 0 0;
    width: 70%; }
    .collection .content {
      padding-right: 0;
      width: 100%; }
  .side-bar {
    box-sizing: border-box;
    padding: 0;
    width: 30%;
    max-width: 320px;
    transform: translateY(-20%); } }

@media only screen and (min-width: 69em) {
  .content {
    padding-left: 2rem; } }

/*
 * SASS for page header element – website.com
 */
.boundary > header {
  padding: 4rem 2rem 2rem;
  box-sizing: border-box;
  width: 100%;
  min-height: 120px;
  color: white;
  background-color: #0d1321; }
  .boundary > header a[href="#menu"] {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    padding-top: 2.375rem;
    width: 2.375rem;
    height: 0;
    overflow: hidden;
    background-color: transparent;
    background-image: url("/resources/image/website-icons.svg");
    background-repeat: no-repeat;
    background-position: 0 top;
    background-size: auto 100%;
    background-position: 0rem 0;
    top: 0.5rem;
    right: 0.5rem;
    left: auto; }
  .boundary > header .logo {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    opacity: 0.8;
    width: 5em;
    z-index: 101; }
    .boundary > header .logo img {
      width: 100%; }
    @media only screen and (min-width: 39em) {
      .boundary > header .logo {
        position: fixed;
        width: 5.4em;
        transition: transform 200ms ease-out;
        transform-origin: top left;
        transform: scale(1); }
        .js-scrolled .boundary > header .logo {
          transform: scale(0.84); } }
    @media only screen and (min-width: 2000px) {
      .boundary > header .logo {
        left: auto; } }
  .boundary > header h1 {
    display: none; }
  .boundary > header h2 {
    margin: 0.5rem 0;
    font-size: 2.2rem;
    line-height: 3.5596rem;
    text-shadow: 2px 2px 1px #0d1321;
    opacity: 0.87;
    color: white; }
    @media only screen and (min-width: 39em) {
      .boundary > header h2 {
        max-width: 32.63288rem;
        font-size: 3rem;
        line-height: 4.854rem; } }
    @media only screen and (min-width: 69em) {
      .boundary > header h2 {
        padding-left: 2rem;
        max-width: 48.94932rem;
        font-size: 3.2rem;
        line-height: 5.1776rem; } }
    @media only screen and (min-width: 2000px) {
      .boundary > header h2 {
        max-width: 65.26576rem;
        font-size: 4rem;
        line-height: 6.472rem; } }
  .boundary > header .page-header-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0d1321;
    max-height: 640px;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    @media only screen and (min-width: 2000px) {
      .boundary > header .page-header-image {
        -webkit-border-radius: 0 0 0.26em 0.26em;
        border-radius: 0 0 0.26em 0.26em;
        max-height: 1240px; } }
    .boundary > header .page-header-image::after {
      content: '';
      display: block;
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 5em;
      background-image: -webkit-linear-gradient(top, transparent, white);
      background-image: linear-gradient(to bottom, transparent, white); }

/*
 * SASS for text content elements – website.com
 */
html {
  font-size: 87.5%; }

body {
  font-family: verdana, helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.618rem;
  color: #0d1321; }

h1, h2, h3 {
  margin: 0 0 2rem;
  color: #0d1321; }
  .collection h1, .collection h2, .collection h3 {
    color: white;
    opacity: 0.8;
    text-shadow: 2px 2px 1px #0d1321; }

::-moz-selection {
  background: grey;
  text-shadow: none; }

::selection {
  background: grey;
  text-shadow: none; }

/*
 * SASS for navigation elements - website.com
 */
nav {
  background-color: #0d1321; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 2rem 0; }
  nav li {
    margin: 0 auto 1rem;
    width: 80%; }
  nav a {
    display: block;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    border: solid 1px #bdd4e7;
    padding: 0.8em 2em;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    background-color: rgba(189, 212, 231, 0.8); }

@media only screen and (max-width: 39em) {
  .focus-js nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.375rem;
    background-color: transparent;
    background-image: -webkit-linear-gradient(top, rgba(13, 19, 33, 0.8), #0d1321);
    background-image: linear-gradient(to bottom, rgba(13, 19, 33, 0.8), #0d1321);
    z-index: 100; }
    .focus-js nav ul {
      margin-top: 3.375rem;
      padding-bottom: 3.375rem;
      background-color: rgba(13, 19, 33, 0.9);
      transition: transform 200ms cubic-bezier(0.9, 0, 0.13, 1.17);
      transform: translateY(0%); }
    .focus-js nav.open ul {
      transition-duration: 400ms;
      transform: translateY(-101%); }
    .focus-js nav #menuBtn {
      position: absolute;
      top: 0;
      left: 0;
      border: none;
      padding-top: 2.375rem;
      width: 2.375rem;
      height: 0;
      overflow: hidden;
      background-color: transparent;
      background-image: url("/resources/image/website-icons.svg");
      background-repeat: no-repeat;
      background-position: 0 top;
      background-size: auto 100%;
      background-position: 0rem 0;
      top: auto;
      right: 0.5rem;
      bottom: 0.5rem;
      left: auto;
      opacity: 0.8;
      transition: transform 200ms cubic-bezier(0.9, 0, 0.13, 1.17); }
    .focus-js nav.open #menuBtn {
      transition-duration: 400ms;
      transform: rotate(45deg); }
    .focus-js nav .home-link {
      position: absolute;
      top: 0;
      left: 0;
      border: none;
      padding-top: 2.375rem;
      width: 2.375rem;
      height: 0;
      overflow: hidden;
      background-color: transparent;
      background-image: url("/resources/image/website-icons.svg");
      background-repeat: no-repeat;
      background-position: 0 top;
      background-size: auto 100%;
      top: auto;
      left: 0.5rem;
      bottom: 0.6rem;
      background-image: url("/resources/image/on-focus-logo.svg");
      width: 44px;
      padding-top: 30px;
      opacity: 0.8; } }

@media only screen and (min-width: 39em) {
  nav {
    position: fixed;
    top: 0;
    left: auto;
    padding: 0;
    width: 100%;
    max-width: 2000px;
    z-index: 100;
    background-color: transparent; }
    nav ul {
      padding: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
    nav li {
      flex: 0 1 auto;
      margin: 0;
      padding: 0;
      width: auto; }
    nav a {
      border: none;
      padding: 0 1.8em;
      font-size: 1.1rem;
      background-color: transparent;
      transition: all 1s ease-out; }
      nav a:hover {
        background-color: rgba(189, 212, 231, 0.8);
        transition-duration: 200ms;
        color: #0d1321; }
    nav .active a {
      background-color: rgba(134, 147, 171, 0.4);
      color: white; }
  nav::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(13, 19, 33, 0.8);
    z-index: -1;
    opacity: 0;
    transition: opacity 200ms ease-out; }
  .js-scrolled nav::before {
    opacity: 1; } }

@media only screen and (min-width: 69em) {
  nav a {
    padding: 0.2em 3em;
    font-size: 1.2rem; } }

@media only screen and (min-width: 2000px) {
  nav a {
    padding: 0.2em 3em;
    font-size: 1.6rem; } }

/*
 * SASS for footer element - website.com
 */
footer {
  position: relative;
  padding: 1rem 2rem 3.375rem;
  width: auto;
  min-height: 6rem;
  background-color: #172121;
  color: #bdd4e7;
  z-index: 1; }
  @media only screen and (min-width: 2000px) {
    footer {
      -webkit-border-radius: 0.26em;
      border-radius: 0.26em; } }

/*
 * SASS for article collection views – website.com
 */
.collection .articles {
  position: relative;
  margin: 0 0 2rem;
  padding-top: 2rem; }
  @media only screen and (min-width: 39em) {
    .collection .articles {
      display: flex;
      flex-flow: row wrap;
      justify-content: center; } }
  .collection .articles article {
    display: block;
    position: relative;
    box-sizing: border-box;
    margin: 0 0 2rem 0;
    padding: 0;
    -webkit-border-radius: 0.26em;
    border-radius: 0.26em;
    height: 8rem;
    background-color: grey;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    @media only screen and (min-width: 39em) {
      .collection .articles article {
        margin: 0 1rem 2rem;
        width: 45%;
        height: 12rem; } }
    @media only screen and (min-width: 69em) {
      .collection .articles article {
        width: 30%;
        height: 16rem; } }
    .collection .articles article a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
    .collection .articles article h1 {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
      -webkit-border-radius: 0 0 0.26em 0.26em;
      border-radius: 0 0 0.26em 0.26em;
      padding: 0.66667rem 1rem;
      box-sizing: border-box;
      width: 100%;
      font-size: 1.2rem;
      line-height: 1.5rem;
      color: white;
      opacity: 0.9;
      text-shadow: 2px 2px 1px #0d1321;
      background-color: rgba(13, 19, 33, 0.4);
      transition: background-color 1s ease-out; }
      @media only screen and (min-width: 39em) {
        .collection .articles article h1 {
          font-size: 1.4rem;
          line-height: 1.8rem; } }
      @media only screen and (min-width: 69em) {
        .collection .articles article h1 {
          font-size: 1.8rem;
          line-height: 2.2rem; } }
    .collection .articles article:hover h1 {
      opacity: 1;
      transition-duration: 200ms;
      background-color: rgba(23, 33, 33, 0.8); }
