@charset "UTF-8";
/*
 * SASS bootstrap for website.com
 */
/*
 * SASS helper mixins, functions and classes.
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.print-only {
  display: none; }

.with-floats:after {
  content: ' ';
  display: table;
  clear: both; }

/*
 * SCSS theme colours for colintester.com
 */
/*
 * SASS base variables for website.com
 */
/*
 * Fonts loaded via Typekit
 * Preference is Seravek, but not available through paid plan,
 * perhaps buy it when funds allow?available?
 */
/*
 * SASS simple CSS reset for website.com.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

h1, h2 {
  margin: 0;
  padding: 0; }

a {
  background-color: transparent; }

a[href] {
  cursor: pointer; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

a img {
  border: none; }

@media only print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000;
    box-shadow: none !important;
    text-shadow: none !important; }
  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " <" attr(href) ">";
    word-wrap: break-word;
    font-size: 0.8em; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: ""; } }

/*
 * SASS for website icon elements - colintester.com
 */
.icon {
  position: relative;
  top: 0;
  left: 0;
  width: 2.375rem;
  height: 2.375rem; }
  .icon a {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    padding-top: 2.375rem;
    width: 2.375rem;
    height: 0;
    overflow: hidden;
    background-color: transparent;
    background-image: url("/resources/image/website-icons.svg");
    background-repeat: no-repeat;
    background-position: 0 top;
    background-size: auto 100%; }

.icon.menu a, .as-icon.menu::after {
  background-position: 0rem 0; }

.icon.twitter a, .as-icon.twitter::after {
  background-position: -2.375rem 0; }

.icon.facebook a, .as-icon.facebook::after {
  background-position: -4.75rem 0; }

.icon.google a, .as-icon.google::after {
  background-position: -7.125rem 0; }

.icon.linkedin a, .as-icon.linkedin::after {
  background-position: -9.5rem 0; }

.icon.email a, .as-icon.email::after {
  background-position: -11.875rem 0; }

.as-icon {
  position: relative;
  top: 0;
  left: 0;
  width: 2.375rem; }
  .as-icon a {
    position: relative;
    margin: 0;
    padding: 0 0 0 2.375rem;
    width: 0;
    height: 2.375rem;
    overflow: hidden; }
  .as-icon::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    padding-top: 2.375rem;
    width: 2.375rem;
    height: 0;
    overflow: hidden;
    background-color: transparent;
    background-image: url("/resources/image/website-icons.svg");
    background-repeat: no-repeat;
    background-position: 0 top;
    background-size: auto 100%; }

.share-links {
  margin: 0; }
  .share-links dt {
    margin: 0 0 2rem; }
  .share-links dd {
    max-width: 320px; }
  .share-links ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0; }
  .share-links .icon {
    display: inline-block;
    vertical-align: top; }
    .share-links .icon::before {
      display: none; }
  @media only screen and (min-width: 39em) {
    .share-links {
      display: flex;
      flex-direction: row;
      justify-content: flex-start; }
      .share-links dt {
        margin: 0;
        padding-right: 2rem;
        line-height: 2.375rem; }
      .share-links dd {
        flex-grow: 1; } }

/*
 * SASS for body elements - colintester.com
 */
html {
  margin: 0;
  height: 100%;
  background-color: black; }

body {
  margin: 0;
  padding: 0;
  height: 100%; }
  @media only screen and (min-width: 69em) {
    body {
      overflow-y: scroll; } }

.boundary {
  position: relative;
  top: 0;
  left: 0;
  margin: 0 auto;
  max-width: 2000px;
  background-color: white;
  z-index: 1; }
  @media only screen and (min-width: 2000px) {
    .boundary {
      -webkit-border-radius: 0 0 0.26em 0.26em;
      border-radius: 0 0 0.26em 0.26em; } }

main {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2rem;
  min-height: 40vh;
  max-width: 1800px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1; }
  @media only screen and (min-width: 1800px) {
    main {
      -webkit-border-radius: 0.26em;
      border-radius: 0.26em;
      margin-bottom: 4rem; }
      .home main::after {
        content: '';
        position: absolute;
        top: 10%;
        right: 45%;
        height: 80%;
        border-right: solid 1px rgba(37, 156, 247, 0.2); } }

.content {
  margin: 0;
  max-width: 69em; }
  .content header, .content footer, .content h1, .content h2, .content h3, .content p, .content ul, .content ol, .content code {
    max-width: 55.62423rem; }
  .content .float-group {
    overflow: hidden; }

.side-bar figure {
  margin: 0;
  padding: 0;
  width: 90%;
  min-width: 170px;
  max-width: 320px; }
  @media only screen and (min-width: 39em) {
    .side-bar figure {
      margin: 0 auto;
      width: 71.2%; } }

.side-bar figcaption {
  margin: 0 0 2rem; }

.side-bar img {
  display: block;
  margin: 0;
  -webkit-border-radius: 0.26em;
  border-radius: 0.26em;
  border: solid 0.4rem rgba(49, 57, 60, 0.8);
  width: 100%; }

.side-bar figcaption {
  padding: 0.4em;
  font-size: 0.9rem; }

@media only screen and (min-width: 39em) {
  .content {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    margin: 0 -2px;
    padding: 0 4rem 0 0; }
    .collection .content, .work-example .content {
      padding-right: 0;
      width: 100%;
      max-width: none; }
  .home .content {
    width: 70%; }
  .home .side-bar {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    width: 29.9%;
    max-width: 320px;
    transform: translateY(-20%); } }

@media only screen and (min-width: 69em) {
  .content {
    padding-left: 2rem; }
    .work-example .content {
      padding-right: 4rem;
      width: 75%; }
  .side-bar {
    display: inline-block;
    vertical-align: top;
    margin: 0 2.5%;
    width: 20%; } }

.boxed {
  border-top: solid 1px rgba(49, 57, 60, 0.2);
  padding: 2rem 0; }
  @media only screen and (min-width: 39em) {
    .boxed {
      -webkit-border-radius: 0.26em;
      border-radius: 0.26em;
      border: solid 1px rgba(49, 57, 60, 0.2);
      padding: 2rem; } }

@media only screen and (min-width: 39em) {
  .mobile-only {
    display: none; } }

/*
 * SASS for page header element – colintester.com
 */
.boundary > header {
  padding: 4rem 2rem 2rem;
  box-sizing: border-box;
  width: 100%;
  min-height: 120px;
  color: white;
  background-color: #31393c; }
  @media only screen and (min-width: 39em) {
    .home .boundary > header {
      min-height: 320px; } }
  .boundary > header .logo {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    opacity: 0.9;
    width: 5em;
    height: 52px;
    z-index: 101;
    border: none; }
    @media only screen and (min-width: 2000px) {
      .boundary > header .logo {
        left: auto; } }
    .focus-js .boundary > header .logo {
      position: fixed; }
    .boundary > header .logo svg #iris {
      fill: rgba(37, 156, 247, 0.8); }
    .boundary > header .logo svg {
      transition: transform 200ms ease-out;
      -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
      transform-origin: top left;
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }
      @media only screen and (min-width: 39em) {
        .boundary > header .logo svg {
          -webkit-transform: scale(1.36);
          -ms-transform: scale(1.36);
          transform: scale(1.36); } }
      .js-scrolled .boundary > header .logo svg {
        -webkit-transform: scale(0.72);
        -ms-transform: scale(0.72);
        transform: scale(0.72); }
  .boundary > header h1 {
    position: absolute;
    top: -1000px;
    left: 0; }
  .boundary > header h2 {
    margin: 1.5rem 0 0.5rem;
    font-size: 2.09rem;
    line-height: 3.38162rem;
    text-shadow: 2px 1px 1px #31393c;
    opacity: 0.87;
    color: white; }
    .wf-active .boundary > header h2 {
      font-size: 2.2rem; }
    @media only screen and (min-width: 39em) {
      .boundary > header h2 {
        max-width: 31.00124rem;
        font-size: 2.6rem;
        line-height: 4.5304rem; }
        .wf-active .boundary > header h2 {
          font-size: 2.8rem;
          letter-spacing: 0; } }
    @media only screen and (min-width: 69em) {
      .boundary > header h2 {
        padding-left: 2rem;
        max-width: 46.50185rem;
        font-size: 2.98rem;
        line-height: 4.854rem; }
        .wf-active .boundary > header h2 {
          font-size: 3rem;
          letter-spacing: 0; } }
    @media only screen and (min-width: 2000px) {
      .boundary > header h2 {
        max-width: 62.00247rem;
        font-size: 3.96rem;
        line-height: 6.472rem; }
        .wf-active .boundary > header h2 {
          font-size: 4rem; } }

.boundary > header .page-header-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #31393c;
  max-height: 640px;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  @media only screen and (min-width: 2000px) {
    .boundary > header .page-header-image {
      -webkit-border-radius: 0 0 0.26em 0.26em;
      border-radius: 0 0 0.26em 0.26em;
      max-height: 1240px; } }
  .boundary > header .page-header-image::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 5em;
    background-image: -webkit-linear-gradient(top, transparent, white);
    background-image: linear-gradient(to bottom, transparent, white); }

/*
 * SASS for text content elements – colintester.com
 */
html {
  font-size: 93.75%; }

body {
  font-family: "ff-tisa-sans-web-pro", "Trebuchet MS", sans-serif;
  font-size: 1rem;
  line-height: 1.618rem;
  color: #31393c; }

h1, h2, h3, .statement {
  margin: 0 0 2rem;
  font-family: "ff-meta-web-pro", "Trebuchet MS", sans-serif;
  font-size: 1.618rem;
  line-height: 2.61792rem;
  font-weight: 700;
  color: #31393c; }

.statement {
  color: rgba(73, 59, 42, 0.8); }

p, ul, ol {
  margin: 0 0 1.618rem; }

main a {
  color: #493b2a;
  text-decoration: none;
  border-bottom: dotted 1px #259cf7; }
  main a:hover {
    border-bottom-style: solid; }

footer a {
  color: white; }

ul, ol {
  padding: 0 0 0 1rem; }

ul {
  margin-left: 0;
  list-style: none; }
  @media only screen and (min-width: 39em) {
    ul {
      margin-left: 1rem; } }

p + ul, p + ol {
  margin-top: -0.4rem; }

main ul li:before {
  content: '\2022';
  display: inline-block;
  margin: 0 0.5rem 0 -1rem;
  vertical-align: middle;
  font-family: sans-serif;
  color: rgba(73, 59, 42, 0.8);
  font-size: 1.8rem;
  line-height: 1.8rem; }

li {
  margin: 0 0 0.66667rem;
  padding: 0; }
  dd li {
    margin-bottom: 0; }

dl {
  margin: 0 0 2rem;
  padding: 0; }

dt {
  font-weight: bold; }

dd {
  margin: 0;
  padding: 0; }
  dd ul {
    margin-left: 0; }

ol {
  list-style: none;
  counter-reset: orderedListCounter; }
  ol[start="1"] {
    counter-reset: orderedListCounter 0; }
  ol[start="2"] {
    counter-reset: orderedListCounter 1; }
  ol[start="3"] {
    counter-reset: orderedListCounter 2; }
  ol[start="4"] {
    counter-reset: orderedListCounter 3; }
  ol[start="5"] {
    counter-reset: orderedListCounter 4; }
  ol[start="6"] {
    counter-reset: orderedListCounter 5; }
  ol[start="7"] {
    counter-reset: orderedListCounter 6; }
  ol[start="8"] {
    counter-reset: orderedListCounter 7; }
  ol[start="9"] {
    counter-reset: orderedListCounter 8; }
  ol[start="10"] {
    counter-reset: orderedListCounter 9; }
  ol > li {
    position: relative;
    padding-left: 1rem; }
    ol > li::before {
      content: counter(orderedListCounter);
      counter-increment: orderedListCounter;
      position: absolute;
      top: 0;
      left: -1rem;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      padding: 0.3em;
      width: 1rem;
      height: 1rem;
      background-color: rgba(73, 59, 42, 0.8);
      font-size: 1rem;
      line-height: 0.8rem;
      text-align: center;
      color: white; }

q {
  quotes: '\201C' '\201D' '\2018' '\2019'; }

q::before, q::after {
  color: rgba(73, 59, 42, 0.8);
  font-family: "ff-meta-web-pro", "Trebuchet MS", sans-serif;
  font-size: 1.4em;
  line-height: 1em; }

q::before {
  content: open-quote; }

q::after {
  content: close-quote; }

blockquote {
  margin: 2rem 0;
  width: 100%;
  font-family: "ff-meta-web-pro", "Trebuchet MS", sans-serif;
  font-size: 1.1rem;
  font-style: italic;
  line-height: 2rem; }
  blockquote:first-child {
    margin-top: 2rem; }
  @media only screen and (min-width: 39em) {
    blockquote {
      width: 80%;
      margin-left: 2rem;
      text-align: left; } }
  @media only screen and (min-width: 69em) {
    blockquote {
      max-width: 450px; } }
  blockquote q::before, blockquote q::after {
    display: inline;
    font-size: 3.6rem;
    line-height: 1rem;
    font-weight: normal;
    font-style: normal;
    vertical-align: middle; }
  blockquote q::before {
    margin: 0 0.1em 0 0; }
  blockquote q::after {
    margin: 0 0 0 0.1em; }
  blockquote .by-line {
    display: block;
    margin: 1rem 0 0;
    font-style: normal;
    font-size: 0.8em;
    line-height: 1.2944em;
    font-weight: bold; }
  blockquote.long-format {
    font-family: "ff-tisa-sans-web-pro", "Trebuchet MS", sans-serif;
    font-size: 0.92rem;
    line-height: 1.618rem;
    font-weight: normal;
    font-style: normal;
    max-width: 39.62423rem; }
    blockquote.long-format q::before, blockquote.long-format q::after {
      font-size: 2.6rem; }

::-moz-selection {
  background: #259cf7;
  text-shadow: none;
  color: white; }

::selection {
  background: #259cf7;
  text-shadow: none;
  color: white; }

.hilite {
  font-size: 3.236rem;
  line-height: 3.236rem;
  letter-spacing: -1pt;
  color: #259cf7; }

.copyright {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.2em 0 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 0;
  font-family: "ff-tisa-sans-web-pro", "Trebuchet MS", sans-serif;
  font-size: 2rem;
  font-weight: normal; }
  .copyright::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: -1;
    width: 1.24rem;
    height: 1.24rem;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(37, 156, 247, 0.8); }

/*
 * SASS for navigation elements - colintester.com
 */
nav {
  background-color: #493b2a; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 2rem 0; }
  nav li {
    margin: 0 auto 1rem;
    width: 80%;
    -webkit-border-radius: 2em;
    border-radius: 2em; }
  nav a {
    display: block;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    border: solid 1px rgba(37, 156, 247, 0.2);
    padding: 0.8em 2em;
    text-decoration: none;
    font-size: 1.2rem;
    color: #31393c;
    text-align: center;
    background-color: #92cefb; }
  nav .as-icon a {
    border: none;
    background-color: transparent;
    z-index: 1; }

@media only screen and (max-width: 39em) {
  .boundary > header a[href="#menu"] {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    padding-top: 2.375rem;
    width: 2.375rem;
    height: 0;
    overflow: hidden;
    background-color: transparent;
    background-image: url("/resources/image/website-icons.svg");
    background-repeat: no-repeat;
    background-position: 0 top;
    background-size: auto 100%;
    background-position: 0rem 0;
    top: 0.5rem;
    right: 0.5rem;
    left: auto;
    z-index: 100; } }

@media only screen and (min-width: 39em) {
  .boundary > header a[href="#menu"] {
    display: none; } }

.focus-js nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  width: 100%;
  height: 3.375rem;
  background-color: transparent;
  z-index: 100; }
  .focus-js nav::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(49, 57, 60, 0.8);
    z-index: -1;
    transition: opacity 200ms ease-out;
    opacity: 0; }
  @media only screen and (max-width: 39em) {
    .focus-js nav ul {
      padding-top: 5.375rem;
      background-color: rgba(73, 59, 42, 0.8);
      transition-property: transform, opacity;
      transition-duration: 200ms, 200ms;
      transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1), ease-in-out;
      -webkit-transform: translateY(-114%);
      transform: translateY(-114%);
      opacity: 0; }
    .focus-js nav.open ul {
      transition-duration: 400ms, 560ms;
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
      opacity: 1; } }
  .focus-js nav #menuBtn {
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    width: 3.375rem;
    height: 3.375rem; }
    @media only screen and (min-width: 39em) {
      .focus-js nav #menuBtn {
        display: none; } }
    .focus-js nav #menuBtn::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border: none;
      padding-top: 2.375rem;
      width: 2.375rem;
      height: 0;
      overflow: hidden;
      background-color: transparent;
      background-image: url("/resources/image/website-icons.svg");
      background-repeat: no-repeat;
      background-position: 0 top;
      background-size: auto 100%;
      background-position: 0rem 0;
      top: 0.5rem;
      right: 0.5rem;
      left: auto;
      transition: transform 200ms cubic-bezier(0.9, 0, 0.13, 1.17); }
  .focus-js nav.open #menuBtn::after {
    transition-duration: 400ms;
    -webkit-transform: rotate(-145deg);
    transform: rotate(-145deg); }
  .focus-js nav .home-link {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    padding-top: 2.375rem;
    width: 2.375rem;
    height: 0;
    overflow: hidden;
    background-color: transparent;
    background-image: url("/resources/image/website-icons.svg");
    background-repeat: no-repeat;
    background-position: 0 top;
    background-size: auto 100%;
    top: auto;
    left: 0.5rem;
    bottom: 0.6rem;
    background-image: url("/resources/image/on-focus-logo.svg");
    width: 44px;
    padding-top: 30px;
    opacity: 0.8; }

.js-scrolled nav::before {
  opacity: 1; }

@media only screen and (max-width: 39em) {
  .js-scrolled nav > ul {
    padding-top: 4.375rem; } }

@media only screen and (min-width: 39em) {
  nav {
    position: absolute;
    top: 0;
    left: auto;
    padding: 0;
    width: 100%;
    max-width: 2000px;
    z-index: 100;
    background-color: transparent; }
    .focus-js nav {
      position: fixed;
      right: auto;
      left: auto; }
    nav ul {
      padding: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      text-align: right; }
    nav li {
      margin: 0;
      padding: 0;
      width: auto;
      display: inline-block; }
    nav .active a {
      background-color: rgba(37, 156, 247, 0.8);
      color: white; }
    nav .active a[href="/"] {
      background-color: transparent; }
    nav a {
      border: none;
      padding: 0 1.8em;
      font-size: 1.1rem;
      color: white;
      background-color: transparent;
      transition-property: background-color, color;
      transition-duration: 1s, 2s;
      transition-timing-function: ease-out, ease-out; }
      nav a:hover, nav a[href="/"]:hover {
        background-color: #bee1fd;
        transition-duration: 200ms, 400ms;
        color: #31393c; }
    nav .as-icon {
      top: -0.2375rem;
      margin-left: 0.8em;
      margin-right: 0.5rem;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-color: transparent;
      transition: background-color 1s ease-out; }
      nav .as-icon:hover {
        background-color: rgba(37, 156, 247, 0.8);
        transition-duration: 200ms; }
        nav .as-icon:hover a {
          background-color: transparent; } }

@media only screen and (min-width: 69em) {
  nav ul {
    padding: 0.66667rem; }
  nav a {
    padding: 0.2em 3em;
    font-size: 1.2rem; } }

@media only screen and (min-width: 2000px) {
  nav a {
    padding: 0.2em 3em;
    font-size: 1.6rem; } }

/*
 * SASS for image content - colintester.com
 */
.image {
  display: block;
  margin: 0 0 2rem;
  max-width: 55.62423rem; }
  .image .image {
    margin-bottom: 0; }
  .image img {
    width: 100%; }
  .image.image-centred {
    text-align: center; }
    .image.image-centred img {
      width: auto;
      max-width: 100%; }
  .image.float-image {
    margin: 0 auto 2rem;
    width: 100%; }
    @media only screen and (min-width: 30em) {
      .image.float-image {
        width: 50%; }
        .image.float-image.float-right {
          float: right;
          margin-left: 4rem; }
        .image.float-image.float-left {
          float: left;
          margin-right: 4rem; } }

.image-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start; }
  .image-group img {
    display: block; }
  .image-group .image {
    margin: 0 0.66667rem 1rem 0;
    width: 100%; }
    @media only screen and (min-width: 39em) {
      .image-group .image {
        flex: 1 0 32.3%;
        max-width: 45%;
        display: inline-block; } }

/*
 * SASS for Lazlo (Lazy Loading) module.
 */
img[data-lazlo] {
  display: none; }

.focus-js img[data-lazlo] {
  display: block; }

.focus-js *[data-lazlo], .focus-js .lazlo {
  opacity: 0.05; }

.focus-js .lazlo-loaded {
  transition-property: opacity;
  transition-duration: 1s;
  transition-delay: 200ms;
  opacity: 1; }

/*
 * SASS for footer element - colintester.com
 */
footer {
  position: relative;
  box-sizing: border-box;
  padding: 2rem;
  width: auto;
  min-height: 6rem;
  background-color: #31393c;
  color: white;
  z-index: 1; }
  @media only screen and (min-width: 2000px) {
    footer {
      -webkit-border-radius: 0 0 0.26em 0.26em;
      border-radius: 0 0 0.26em 0.26em; } }

/*
 * SASS for article collection views – colintester.com
 */
.articles {
  position: relative;
  margin: 0 0 2rem; }
  @media only screen and (min-width: 39em) {
    .articles {
      display: flex;
      flex-flow: row wrap;
      justify-content: center; } }
  .articles article {
    display: block;
    position: relative;
    box-sizing: border-box;
    margin: 0 0 0 -2rem;
    padding: 0;
    border-bottom: solid 1px rgba(49, 57, 60, 0.2);
    width: 100vw;
    min-height: 6rem;
    background-color: transparent;
    overflow: hidden;
    transition: background-color 1s ease-out; }
    @media only screen and (min-width: 39em) {
      .articles article {
        box-shadow: 0 0 0 1px rgba(49, 57, 60, 0.2);
        -webkit-border-radius: 0.26em;
        border-radius: 0.26em;
        margin: 0 0.5rem 1rem;
        width: 47.3%;
        min-height: 12rem;
        display: inline-block; } }
    @media only screen and (min-width: 69em) {
      .articles article {
        width: 30%;
        min-height: 16rem; } }
    @media only screen and (min-width: 2000px) {
      .articles article {
        width: 24%;
        min-height: 20rem; } }
    .articles article a {
      display: block;
      box-sizing: border-box;
      padding: 0.66667rem 1rem;
      text-decoration: none;
      border: none;
      width: 100%;
      height: 100%; }
    .articles article header {
      position: relative;
      margin: 0 0 1rem; }
      .articles article header time {
        font-size: 0.9rem; }
    .articles article h1 {
      margin: 0;
      padding: 0;
      font-size: 1.2rem;
      line-height: 1.5rem;
      color: #31393c; }
      @media only screen and (min-width: 39em) {
        .articles article h1 {
          font-size: 1.4rem;
          line-height: 1.8rem; } }
      @media only screen and (min-width: 69em) {
        .articles article h1 {
          font-size: 1.8rem;
          line-height: 2.2rem; } }
    .articles article p {
      margin: 0; }
    .articles article.with-image {
      min-height: 12rem;
      border-bottom: none; }
      @media only screen and (min-width: 39em) {
        .articles article.with-image {
          min-height: 16rem; } }
      .articles article.with-image a {
        min-height: inherit;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; }
      .articles article.with-image header {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        box-sizing: border-box;
        padding: 0.66667rem 1rem;
        width: 100%;
        color: white;
        text-shadow: 2px 1px 1px #31393c;
        background-image: -webkit-linear-gradient(top, rgba(49, 57, 60, 0.2), rgba(49, 57, 60, 0.8));
        background-image: linear-gradient(to bottom, rgba(49, 57, 60, 0.2), rgba(49, 57, 60, 0.8));
        transition: background-color 1s ease-out; }
        .articles article.with-image header h1 {
          color: inherit; }
    .articles article.with-image:hover header {
      transition-duration: 200ms;
      background-color: rgba(37, 156, 247, 0.8); }
    .articles article:hover {
      background-color: rgba(37, 156, 247, 0.2);
      transition-duration: 200ms; }
    .articles article.image-only {
      box-shadow: none; }
      .articles article.image-only a {
        background-size: contain; }
      .articles article.image-only header {
        opacity: 0; }

@media only screen and (min-width: 69em) {
  .side-bar .articles {
    display: block; }
    .side-bar .articles article {
      margin: 0 0 1rem 0;
      width: 100%; } }

.post > header {
  margin: 0 0 2rem;
  font-size: 0.9rem; }
  .post > header time::after {
    content: '   \2022   ';
    display: inline;
    white-space: pre;
    color: #259cf7; }

.post > footer {
  margin: 0 0 -2rem -2rem;
  width: 100vw;
  min-height: auto;
  background-color: rgba(73, 59, 42, 0.8); }
  @media only screen and (min-width: 39em) {
    .post > footer {
      margin: 0 0 2rem;
      padding: 1rem;
      -webkit-border-radius: 0.26em;
      border-radius: 0.26em;
      width: auto; } }

/*
 * SASS for presenting <code> examples on colintester.com
 */
/*
 * Original highlighter CSS from Tom Preston-Werner: 
 * https://github.com/mojombo/tpw/blob/master/css/syntax.css
 * With thanks.
 */
.highlight {
  background: #ffffff; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #d14; }

/* Literal.String */
.highlight .na {
  color: #008080; }

/* Name.Attribute */
.highlight .nb {
  color: #0086B3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #008080; }

/* Name.Constant */
.highlight .ni {
  color: #800080; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: #000080; }

/* Name.Tag */
.highlight .nv {
  color: #008080; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #d14; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #d14; }

/* Literal.String.Char */
.highlight .sd {
  color: #d14; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #d14; }

/* Literal.String.Double */
.highlight .se {
  color: #d14; }

/* Literal.String.Escape */
.highlight .sh {
  color: #d14; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #d14; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #d14; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #d14; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080; }

/* Name.Variable.Class */
.highlight .vg {
  color: #008080; }

/* Name.Variable.Global */
.highlight .vi {
  color: #008080; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
.highlight {
  position: relative;
  margin: 0 0 2rem -2rem;
  padding: 0 0 0 0.5rem;
  width: 98vw;
  font-family: monospace;
  font-size: 1rem;
  line-height: 1.1rem;
  background-color: rgba(73, 59, 42, 0.08);
  overflow-x: scroll; }
  @media only screen and (min-width: 39em) {
    .highlight {
      margin-left: 0;
      padding-left: 1rem;
      width: auto;
      overflow-x: visible; } }
  .highlight .gutter {
    min-width: 0.8em;
    color: #667777; }
    @media only screen and (min-width: 39em) {
      .highlight .gutter {
        min-width: 1.6rem; } }
  .highlight code::after {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    content: attr(data-lang);
    color: #31393c;
    opacity: 0.5; }
    @media only screen and (min-width: 39em) {
      .highlight code::after {
        right: 1rem; } }

.highlighter-rouge {
  -webkit-border-radius: 0.26em;
  border-radius: 0.26em;
  padding: 0.2em 0.4em;
  color: black;
  font-family: monospace;
  background-color: rgba(73, 59, 42, 0.08);
  white-space: nowrap; }

/*
 * SASS for button elements – colintester.com
 */
button, .button {
  display: block;
  margin: 2rem 0;
  max-width: 8rem;
  -webkit-border-radius: 2em;
  border-radius: 2em;
  border: none;
  box-shadow: 0 0 0 1px rgba(73, 59, 42, 0.2);
  padding: 0.5em 2em;
  font-family: "ff-meta-web-pro", "Trebuchet MS", sans-serif, "Trebuchet MS", sans-serif;
  text-decoration: none;
  font-size: 1.1rem;
  line-height: 1.1rem;
  color: #31393c;
  text-align: center;
  background-color: #bee1fd;
  outline: none;
  transition: background-color 1s; }
  .side-bar button, .side-bar .button {
    margin-right: 0; }
  button:hover, .button:hover {
    border: none;
    background-color: white;
    transition-duration: 200ms; }

/*
 * SASS for supportng an iframe used to display RWD views.
 */
/*
 * SASS definitions for RWD view device dimensions.
 */
.rwd-view {
  position: relative;
  margin: 2rem 0; }

.rwd-device {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transform-origin: 0 0;
  transform: scale(0.62);
  transition: all 400ms cubic-bezier(0.9, 0, 0.13, 1.17); }
  .rwd-mobile .rwd-device {
    width: 100vw;
    height: calc(100vw * 2.04897);
    max-width: 388px;
    max-height: 795px; }
  .rwd-tablet .rwd-device {
    width: 100vw;
    height: calc(100vw * 1.37927);
    max-width: 820px;
    max-height: 1131px; }
  .rwd-desktop .rwd-device {
    width: 100vw;
    height: calc(100vw * 0.62103);
    max-width: 1417px;
    max-height: 880px;
    transform: scale(0.86);
    box-shadow: 0px 0px 0px 1px rgba(37, 156, 247, 0.2); }
    @media only screen and (min-width: 69em) {
      .rwd-desktop .rwd-device {
        width: 90vw;
        height: calc(90vw * 0.62103);
        max-width: 1417px;
        max-height: 880px;
        transform: scale(0.658);
        -webkit-border-radius: 0.26em;
        border-radius: 0.26em; } }
  @media only screen and (min-width: 39em) {
    .rwd-device {
      margin: 0; } }
  .rwd-device::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% 100%;
    pointer-events: none; }
    .rwd-mobile .rwd-device::before {
      background-image: url("/resources/image/iphone-frame.png"); }
    .rwd-tablet .rwd-device::before {
      background-image: url("/resources/image/ipad-frame.png"); }
    .rwd-desktop .rwd-device::before {
      background-size: 100% auto;
      background-image: url("/resources/image/browser-frame.png"); }

.rwd-view-frame {
  background-color: white; }
  .rwd-mobile .rwd-view-frame {
    position: absolute;
    top: 17.2327%;
    left: 7.47423%;
    width: 82.47423%;
    height: 66.66667%;
    border: solid 3px black; }
  .rwd-tablet .rwd-view-frame {
    position: absolute;
    top: 12.55526%;
    left: 5%;
    width: 88.78049%;
    height: 80.45977%;
    border: solid 3px black; }
  .rwd-desktop .rwd-view-frame {
    position: absolute;
    top: 8.40909%;
    left: 0%;
    width: 100%;
    height: 91.59091%;
    border: none; }

.rwd-view-controls {
  display: none;
  margin: 0 0 2rem; }
  .rwd-view-controls button {
    display: inline-block;
    vertical-align: top;
    margin: 0 0.8em 0 0; }
  .focus-js .rwd-view-controls {
    display: block; }

/*
 * SASS for HTML form elements – colintester.com
 */
form {
  margin: 0 0 2rem;
  padding: 0; }
  @media only screen and (min-width: 39em) {
    form {
      max-width: 37.08282rem;
      min-width: 580px; } }

fieldset {
  position: relative;
  top: 0;
  left: 0;
  box-sizing: border-box;
  margin: 0 0 0 -2rem;
  border: none;
  border-top: solid 1px rgba(37, 156, 247, 0.2);
  padding: 2rem;
  width: 100vw;
  background-color: white; }
  fieldset:first-of-type {
    border: none; }
  @media only screen and (min-width: 39em) {
    fieldset {
      margin-bottom: 1rem;
      margin-left: 0;
      border: none;
      -webkit-border-radius: 0.26em;
      border-radius: 0.26em;
      width: auto;
      background-color: rgba(73, 59, 42, 0.2); } }
  fieldset button {
    margin: 0; }

legend {
  float: left;
  width: 100%;
  margin: 0 0 1rem;
  padding: 0;
  font-size: 1.2rem;
  line-height: 1.618rem; }

input, textarea, select {
  font-family: "ff-tisa-sans-web-pro", "Trebuchet MS", sans-serif;
  font-size: 16px;
  color: rgba(49, 57, 60, 0.8); }
  input:focus, textarea:focus, select:focus {
    outline: none;
    box-shadow: 0 0 3px 1px rgba(73, 59, 42, 0.8); }

label {
  display: block; }

.text {
  margin: 0 0 1rem; }
  .text input {
    margin: 0;
    -webkit-border-radius: 0.26em;
    border-radius: 0.26em;
    border: solid 1px #a49d95;
    padding: 0.4rem;
    -webkit-appearance: none;
    width: 97%; }

.checkbox {
  margin: 0 0 1rem; }
  .checkbox label, .checkbox input {
    display: inline;
    vertical-align: top;
    box-shadow: none; }
  .checkbox label {
    display: inline-block;
    width: 86%; }
  .checkbox input {
    margin: 0.4045rem 0.5rem 0 0; }

.required > label:after {
  display: inline-block;
  vertical-align: top;
  content: '\2022';
  margin-top: -0.5rem;
  margin-left: 0.3rem;
  font-size: 2.5888rem;
  font-weight: bold;
  color: #92cefb; }

.required.required-notice {
  margin: 0.66667rem 0 0;
  text-align: right; }

button[type=submit] {
  margin: 0 auto; }
  @media only screen and (min-width: 39em) {
    button[type=submit] {
      float: right; } }
