/*
 * SASS for body elements - website.com
 */
html
  margin: 0
  height: 100%
  background-color: $primary

body
  margin: 0
  padding: 0
  height: 100%
  //overflow-y: scroll

  @media only screen and (min-width: $desktopWidth)
   overflow-y: scroll

.boundary
  position: relative
  top: 0
  left: 0
  margin: 0 auto
  max-width: $maxWidth
  background-color: white
  z-index: 1
  
main
  position: relative
  box-sizing: border-box
  margin: 0 auto
  padding: $contentPadding
  min-height: 40vh
  max-width: $maxMainElementWidth
  background-color: rgba(#EFEFFF, 0.9)
  z-index: 1

  @media only screen and (min-width: $maxMainElementWidth)
    +corners
    margin-bottom: ($contentMargin * 2)

    .home &
      &::after
        content: ''
        position: absolute
        top: 10%
        right: 40%
        height: 80%
        border-right: solid 1px rgba($primary, 0.2)

.content
  margin: 0 0 $contentMargin
  max-width: $desktopWidth

  header, footer, h1, h2, h3, p, ul, ol, code//, .float-group
    max-width: $maxContentWidth

  .float-group
    overflow: hidden // expand to height of floated children.

.side-bar
  figure
    margin: 0 auto
    padding: 0
    width: 90%
    min-width: 170px
    max-width: 320px

    @media only screen and (min-width: $tabletWidth)
      width: 71.2%

  img
    display: block
    margin: 0
    +corners
    border: solid 0.4rem rgba($primary, 0.8)
    width: 100%

  figcaption
    padding: 0.4em
    font-size: 0.9rem

@media only screen and (min-width: $tabletWidth)
  .content
    display: inline-block
    vertical-align: top
    box-sizing: border-box
    margin: 0 -2px
    padding: 0 (2 * $contentPadding) 0 0
    width: 70%

    .collection &, .work-example &
      padding-right: 0
      width: 100%
      max-width: none

  .home .side-bar
    display: inline-block
    vertical-align: top
    box-sizing: border-box
    margin: 0 auto
    padding: 0
    width: 29.9%
    max-width: 320px

    transform: translateY(-20%)

@media only screen and (min-width: $desktopWidth)
  .content
    padding-left: $contentPadding

    .work-example &
      padding-right: (2 * $contentPadding)
      width: 75%

  .side-bar
    display: inline-block
    vertical-align: top
    margin: 0 2.5%
    width: 20%

.boxed
  border-top: solid 1px rgba($primary, 0.2)
  padding: $contentPadding 0

  @media only screen and (min-width: $tabletWidth)
    +corners
    border: solid 1px rgba($primary, 0.2)
    padding: $contentPadding
    background-color: white
