/*
 * SASS for footer element - website.com
 */
footer
  position: relative
  padding: $contentPadding
  width: auto
  min-height: 6rem
  background-color: theme(secondary)//$color3
  color: white//$color4
  z-index: 1

  @media only screen and (min-width: $maxWidth)
    +corners
