/*
 * SASS for page header element – website.com
 */
.boundary > header
  padding: ($contentPadding * 2) $contentPadding $contentPadding
  box-sizing: border-box
  width: 100%
  min-height: 120px
  color: white
  background-color: $primary

  @media only screen and (min-width: $tabletWidth)
    .home &
      min-height: 320px

  .logo
    position: absolute
    top: $viewEdgePos
    left: $viewEdgePos
    opacity: 0.8
    width: 5em
    z-index: 101
    border: none

    .focus-js &
      position: fixed

    img
      width: 100%

    //@media only screen and (min-width: $tabletWidth)
    //position: fixed
    //width: 5.4em
    transition: transform $transDurationIn ease-out
    -webkit-transform-origin: top left
    transform-origin: top left
    //+transformThis(scale(0.72))
    
    .focus-js &
      +transformThis(scale(1))
    
    .js-scrolled &
      +transformThis(scale(0.72))

    @media only screen and (min-width: $desktopWidth)
      //transform: scale(0.84)

      .js-scrolled &
        transform: scale(0.72)

    @media only screen and (min-width: $maxWidth)
      left: auto

  h1
    display: none
  
  h2
    margin: $viewEdgePos 0
    font-size: $headerTitleFontSize
    line-height: $headerTitleLineHeight
    text-shadow: $textShadow
    opacity: 0.87
    color: white

    .wf-active &
      font-size: 2.2rem

    @media only screen and (min-width: $tabletWidth)
      max-width: ($headerTitleFontSize / $gRatio) * 24
      font-size: 2.6rem
      line-height: 2.8rem * $gRatio

      .wf-active &
        font-size: 2.8rem
        letter-spacing: 0

    @media only screen and (min-width: $desktopWidth)
      padding-left: $contentPadding
      max-width: ($headerTitleFontSize / $gRatio) * 36
      font-size: 2.98rem // for trebuchet
      line-height: 3rem * $gRatio

      .wf-active &
        font-size: 3rem
        letter-spacing: 0

    @media only screen and (min-width: $maxWidth)
      max-width: ($headerTitleFontSize / $gRatio) * 48
      font-size: 3.96rem
      line-height: 4rem * $gRatio

      .wf-active &
        font-size: 4rem

//—————————————————————————————————————————————: Header image
.boundary > header
  .page-header-image
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: $primary

    max-height: 640px
    z-index: 0

    background-repeat: no-repeat
    background-position: center center
    background-size: cover

    @media only screen and (min-width: $maxWidth)
      +corners(0 0 $cornerRadius $cornerRadius)
      max-height: 1240px

    &::after
      content: ''
      display: block
      position: absolute
      bottom: -1px
      left: 0
      width: 100%
      height: 5em
      +gradientBackground(transparent, white)
