/*
 * SASS for page header element – website.com
 */
header
  padding: $contentPadding * 2 $contentPadding
  box-sizing: border-box
  width: 100%
  min-height: 40vh
  color: #FFFFFF

  .logo
    position: absolute
    top: 0.5em
    left: 0.5em

    img
      width: 4em

  h1
    display: none
  
  h2
    font-size: 2rem
    max-width: 60%
    text-shadow: $textShadow

  .page-header-image
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0

    min-height: 40vh
    max-height: 60vh
    z-index: -1

    background-repeat: no-repeat
    background-position: center center
    background-size: cover

    background-image: url('#{$imagePath}header-image.jpg')

    &::after
      content: ''
      display: block
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 5em
      +gradientBackground(transparent, white)

