/*
 * SASS for text content elements – website.com
 */
body
  font-family: verdana, helvetica, sans-serif
  font-size: 1rem/1.4
  color: $primary

// selected text:
::-moz-selection
  background: grey
  text-shadow: none

::selection
  background: grey
  text-shadow: none



