<div class="articles{% if include.group %} {{ include.group }}{% endif %}">
  {%- for article in include.articles -%}
  {% comment %}
  Capture page URL component.
  {% endcomment %}
  {%- assign pageURL = page.url | replace: '/', '' -%}

  {% comment %}
  Capture in var postPath the string: ‘/nnnn/‘; nnnn being the article date year value.
  {% endcomment %}
  {% comment %}
  Assign the var tileName with a string made from the article ID, filtered to remove the ‘/nnnn/‘ above component.
  {% endcomment %}
  
  {%- capture postPath -%}/{{ article.date | date: '%Y' }}/{% endcapture %}
  {%- assign tileName = article.id | replace: postPath, '' | replace: '/', '' -%}

  {%- if tileName == pageURL -%}{% continue %}{%- endif -%}
  
  {%- assign tileData = site.static_files | where: 'basename', tileName -%}
  {%- if article.date -%}
    {%- assign articleDate = article.date | date_to_string -%}
  {%- endif -%}
  
  {%- assign articleClass = '' -%}
  {%- assign withImage = false -%}
  {%- if 1 == tileData.size -%}
    {% assign withImage = true %}
    {% assign articleClass = 'with-image' %}
  {%- endif -%}

  {%- if article.imageOnly == true -%}
    {% assign articleClass = articleClass | append: ' image-only' %}
  {%- endif -%}

  <article {% if articleClass %} class="{{ articleClass }}"{% endif %}>
  <noscript><style>#{{ tileName }} { background-image: url(resources/posts/tiles/{{ tileData[0].basename }}{{ tileData[0].extname }}); }</style></noscript>
  <a id="{{ tileName }}" href="{{ article.url | relative_url }}" title="To read more on: {{ article.title }}"{% if withImage %} data-lazlo="background-image: url(resources/posts/tiles/{{ tileData[0].basename }}{{ tileData[0].extname }})" data-lazlo-attr="style"{%- endif -%}>
    <header>
      <h1>{{ article.title }}</h1>
      {%- if articleDate -%}<time datetime="{{ article.date }}">{{ articleDate }}</time>{% endif %}
    </header>

    {%- if article.summary -%}<p>{{ article.summary }}</p>{% endif %}
  </a>
  </article>
  {%- endfor -%}
</div>
