<div class="articles{% if include.group %} {{ include.group }}{% endif %}">
  {%- for article in include.articles -%}
  {% comment %}
  Capture page URL component.
  {% endcomment %}
  {%- assign pageURL = page.url | replace: '/', '' -%}

  {% comment %}
  Capture in var postPath the string: ‘/nnnn/‘; nnnn being the article date year value.
  {% endcomment %}
  {% comment %}
  Assign the var tileName with a string made from the article ID, filtered to remove the ‘/nnnn/‘ above component.
  {% endcomment %}
  
  {%- capture postPath -%}/{{ article.date | date: '%Y' }}/{% endcapture %}
  {%- assign tileName = article.id | replace: postPath, '' | replace: '/', '' -%}

  {%- if tileName == pageURL -%}{% continue %}{%- endif -%}
  
  {%- assign tileData = site.static_files | where: 'basename', tileName -%}
  {%- if article.date -%}
    {%- assign articleDate = article.date | date_to_string -%}
  {%- endif -%}
  
  {%- assign articleClass = false -%}
  {%- assign withImage = false -%}
  {%- if 1 == tileData.size -%}
    {% assign withImage = true %}
    {% assign articleClass = 'with-image' %}
    {% assign imageURL = site.url | append: 'resources/posts/tiles/' | append: tileData[0].basename | append: tileData[0].extname %}
  {%- endif -%}

  {%- if article.imageOnly == true -%}
    {% assign articleClass = articleClass | append: ' image-only' %}
  {%- endif -%}

  <article itemscope itemtype="http://schema.org/BlogPosting"{% if articleClass %} class="{{ articleClass }}"{% endif %}>
    {% if withImage %}<noscript>
      <style>#{{ tileName }} { background-image: url('{{ imageURL }}'); }</style>
      <meta itemprop="image" content="{{ imageURL }}">
    </noscript>{%- endif -%}
  <a itemprop="url" id="{{ tileName }}" href="{{ article.url | prepend: site.url }}" title="To read more on: {{ article.title }}"{% if withImage %} data-lazlo="background-image: url('{{ imageURL }}')" data-lazlo-attr="style"{%- endif -%}>
    <header>
      <h1 itemprop="headline">{{ article.title }}</h1>
      {% if articleDate %}<time itemprop="datePublished" datetime="{{ article.date }}">{{ articleDate }}</time>{% endif %}
      {% if article.author %}<span itemprop="author" itemscope itemtype="http://schema.org/Person"><meta itemprop="name" content="{{ article.author }}"></span>{%- endif-%}
    </header>

    {%- if article.summary -%}
      {%- if withImage -%}
    <meta itemprop="description" content="{{ article.summary }}">
      {%- else -%}
    <p itemprop="description">{{ article.summary }}</p>
      {%- endif -%}
    {% endif %}
    </a>
  </article>
  {%- endfor -%}
</div>
