<header>
  <h1>Colin Tester</h1>
  <a class="logo" href="./" title="Jump to the home page of website.com">
    <img src="resources/image/on-focus-logo.svg" alt="Colin tester – {{ site.focused }}">
  </a>

  <noscript><a href="#menu">Menu</a></noscript>
  {% if page.headerImage %}
  <div class="page-header-image">
    <style>
      .page-header-image{ background-image: url('resources/header/small/{{ page.headerImage }}');}
      @media only screen and (min-width: 39em){ .page-header-image{ background-image: url('resources/header/medium/{{ page.headerImage }}');}}
      @media only screen and (min-width: 69em){ .page-header-image{ background-image: url('resources/header/large/{{ page.headerImage }}');}}
    </style>
  </div>
  {%- endif -%}
  {% if  page.title or page.heading %}
  <h2>{% include page-main-title.html %}</h2>
  {% endif %}
</header>
