<figure class="image float-image{% if include.align %} float-{{ include.align }}{% endif %}">
  <picture class="image">
      <!--[if IE 9]>
      <video style="display: none;"> 
      <![endif]-->
      <source srcset="resources/image/medium/{{ include.picture }}" media="(min-width: 39em)">
      <!--[if IE 9]>
      </video>
      <![endif]-->
      
      <!--[if !IE 8]><!-->
      <img src="resources/image/small/{{ include.picture }}" alt="{{ include.alt }}">
      <!--<![endif]-->
    </picture>      
</figure>
