<picture class="image">
  <!--[if IE 9]>
  <video style="display: none;"> 
  <![endif]-->
  <source data-srcset="resources/image/large/{{ include.picture }}" media="(min-width: 69em)">
  <source data-srcset="resources/image/medium/{{ include.picture }}" media="(min-width: 39em)">
  <!--[if IE 9]>
  </video>
  <![endif]-->
  
  <!--[if !IE 8]><!-->
  <img data-lazlo="resources/image/small/{{ include.picture }}" alt="{{ include.alt }}">
  <noscript><img src="resources/image/medium/{{ include.picture }}" alt="{{ include.alt }}"></noscript>
  <!--<![endif]-->
</picture>
