{% assign shareTitle = page.title | uri_escape %}
{% assign shareURL = page.url | prepend: 'http://dev.colintester.com' %}

<dl class="share-links">
  <dt>Share:</dt>
  <dd>
    <ul>
      <li class="icon twitter">
        <a href="https://twitter.com/intent/tweet?text={{ shareTitle }}&amp;url={{ shareURL }}&amp;via={{ site.social.twitter }}" title="To: share this post on Twitter (link requests to open in a new browser window or tag)." target="_blank">Twitter</a>
      </li>
      <!-- <li class="icon facebook">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ shareURL }}" title="To: share this post on Facebook (link requests to open in a new browser window or tag)." target="_blank">Facebook</a>
      </li> -->
      <li class="icon linkedin">
        <a href="https://www.linkedin.com/shareArticle?mini=true&amp;source=Colin%20Tester&amp;url={{ shareURL }}&amp;title={{ shareTitle }}" title="To: share this post on LinkedIn (link requests to open in a new browser window or tag)." target="_blank">LinkedIn</a>
      </li>
      <li class="icon google">
        <a href="https://plus.google.com/share?url={{ shareURL }}" title="To: share this post on Google+ (link requests to open in a new browser window or tag)." target="_blank">Google+</a>
      </li>
      <li class="icon email">
        <a href="mailto:?subject={{ shareTitle }}&amp;body=Interesting%20article%20from%20Colin Tester:%20%0A%0ATitle:%20{{ shareTitle }}%0ALink:%20{{ shareURL }}" title="To: share this post via e-mail (this link requests to use your installed e-mail program).">Email</a>
      </li>
    </ul>
  </dd>
</dl>