<!DOCTYPE html>
<html lang="en">
<head>
  <base href="{{ site.baseurl }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Colin Tester – {% if page.title %}{{ page.title }}{% else %}{{ page.heading }}{% endif %}</title>
  {% include typekit-font.html %}  
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class="boundary collection">
  {% include header.html %}

  <main>
    <div class="content">{{content}}</div>
  </main>
  
  {% include navigation.html %}
  {% include footer.html %}
  </div>

  <script src="js/main.js"></script>
</body>
</html>
