<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Website.com</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class="boundary">
  {% include header.html %}

  <main>
    <div class="content">
        {{content}}
    </div>
    
    <aside class="side-bar">
      <figure>
        <img src="resources/image/colin-tester.jpg" alt="Colin Tester - helping to build a more robust and inclusive web.">
        <figcaption>Colin Tester</figcaption>
      </figure>
      <p>Ea suscipit in magna; eros eum ut te laoreet augue te. Nostrud nonummy nulla facilisis consequatvel eum aliquip odio, laoreet augue magna. Aliquip dignissim dolore quis ipsum enim exerci vulputate nulla ipsum. Velit illum tation vulputate augue suscipit.</p></aside>
  </main>
  
  {% include navigation.html %}
  {% include footer.html %}
  </div>

  <script src="js/main.js"></script>
</body>
</html>
