<!DOCTYPE html>
<html lang="en">
<head>
  {% include google-analytics.html %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Colin Tester – {% include page-main-title.html %}</title>
  {% include typekit-font.html %}
  <link rel="stylesheet" href="css/main.css">
</head>
<body class="home">
  <div class="boundary">
  {% include header.html %}

  <main>
    <div class="content">
        {{content}}
    </div>
    
    <aside class="side-bar">
      <figure class="image">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" data-lazlo="resources/image/colin-tester.jpg" alt="Colin Tester - helping to build a more robust and inclusive web." data-dims="640,773">
        <noscript><img src="resources/image/colin-tester.jpg" alt="Colin Tester - helping to build a more robust and inclusive web."></noscript>
        <figcaption>Colin Tester</figcaption>
        {% include get-in-touch.html %}
      </figure>
    </aside>
  </main>
  
  {% include navigation.html %}
  {% include footer.html %}
  </div>

  {% include js-loading.html %}
</body>
</html>
