<!DOCTYPE html>
<html lang="en">
<head>
  {% include google-analytics.html %}
  <base href="{{ site.baseurl | absolute_url }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Colin Tester – {% include page-main-title.html %}</title>
  {% include blog-meta-data.html %}
  {% include favicon-head.html %}
  {% include typekit-font.html %}  
  <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">
</head>
<body>
  <div class="boundary work-example">
  {% include header.html %}
  <main itemscope itemtype="https://schema.org/Blog">
    <div class="content">
      <article itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting" class="post">
        <header>
          <meta itemprop="mainEntityOfPage" content="{{ page.url | prepend: site.url }}">
          <meta itemprop="name headline" content="{{ page.title }}">
          {% if imageURL %}<meta itemprop="image" content="{{ imageURL }}">{% endif %}
          <dl>
            <dt>Published:</dt>
            <dd><time itemprop="datePublished" datetime="{{ page.date }}">{{ page.date | date_to_long_string }}</time></dd>
            {%- if page.dateModified -%}<dt>Updated:</dt>
            <dd><time itemprop="dateModified" datetime="{{ page.dateModified }}"> {{ page.dateModified | date_to_long_string }}</time></dd>{% else %}<meta itemprop="dateModified" content="{{ page.date }}">{% endif %}

            {% if page.author %}<dt>By:</dt>
            <dd itemprop="author" itemscope itemtype="https://schema.org/Person">
              <a itemprop="sameAs" class="inline-icon twitter" href="https://twitter.com/{% if page.twitterHandle %}{{ page.twitterHandle }}{% else %}colint_focus{% endif %}"><span itemprop="name" class="by-line">{{ page.author }}</span></a>
            </dd>{%- endif -%}
          </dl>
        </header>
        {% if page.summary %}
        <p itemprop="description" class="statement">{{ page.summary }}</p>
        {%- endif -%}
        <div itemprop="articleBody">
          {{content}}
        </div>
  
        <footer>
          {%- include share-links.html -%}
          <span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
            <meta itemprop="name" content="Z-omo">
            <span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject"><meta itemprop="url" content="http://z-omo.com/resources/image/z-omo-logo.png"></span>
          </span>
        </footer>
      </article>
    </div>

    <aside class="side-bar">
      {% include get-in-touch.html %}
      <p>Latest posts:</p>
      {% include articles-list.html articles=site.related_posts group='work-articles' %}
    </aside>
  
  </main>
  
  {% include navigation.html %}
  {% include footer.html %}
  </div>

  {% include js-loading.html %}
</body>
</html>
